html {
    background-image: url("floral_background.gif");
}

body {
    background-image: url("floral_background.gif");
}
nav {
    font-size: 14px;
    font-family: Georgia;
    text-align: center;
    color: black;
}
div {
    width: 119px;
    border: solid 1px;
    float: left;
    padding: 10px 0;
    background-color: silver;
    transition: background-color 0.2s;
}
a:first-child div {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
a:last-child div {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
div:hover {
    background-color: gold;
}