body {
    background-image: url("floral_background.gif");
}
nav {
    font-size: 14px;
    font-family: Georgia;
    text-align: center;
    color: white;
}
.barre {
    width: 119px;
    border: solid 1px;
    float: left;
    padding: 10px 0;
    background-color: silver;
    transition: background-color 0.2s;
}
a:first-child div {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
a:last-child div {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.barre:hover {
    background-color: gold;
}
h1 {
    color: lightpink;
    text-align: center;
}
p {
    color: black;
    text-align: justify;
    background-color: lightpink;
}
.texte {
    border-style: groove;
    content: width=device-width, initial-scale=1.0"
}